<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<!-- CAMBIAR DESDE ACA -->
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 imgPrdAdd">
            <div class="imagen">
                <a href="" target="_blank"><img src="/images/fire-prdAdd.png" alt="" /></a>
            </div>
            <div class="imagen">
                <a href="" target="_blank"><img src="/images/user-prdAdd.png" alt="" /></a>
            </div>
            <div class="imagen">
                <a href="" target="_blank"><img src="/images/heart-prdAdd.png" alt="" /></a>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 formPrdAdd">
           <h6>Editando producto <%= updPrd.description %></h6>
            <form class="was-validated" action="/products/productUpd/<%= updPrd.id %>" method="POST" enctype="multipart/form-data">
                <div class="input-group formImp formImp1">
                    <input class="form-control input-sm imp" type="text" name="prdCategId" value="<%= updPrd.prdCategory.id %>" 
                        id="prdCategId" >
                </div>
                
                <div class="mb-10 formImp formImp2">
                    <textarea class="form-control is-invalid imptArea" id="description" name="description"
                    value="<%= updPrd.description %>" required></textarea>
                </div>
                <div class="input-group formImp formImp3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="image" name="image"
                            aria-describedby="prdImg" value="<%= updPrd.image %>">
                        <label class="custom-file-label imp" for="image"></label>
                    </div>
                </div>
                
                <div class="input-group formImp formImp4">
                    <input class="form-control input-sm imp" name="price" id="price"
                        type="number" value="<%= updPrd.price %>">
                </div>
                <div class="form-group ">
                    <div class="col-sm-6">
                        <button type="submit" id="btnSubmit" class="btn btn-block btnSubmit">GUARDAR</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>

<% - include('../partials/footer.ejs') %>