<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
    <!-- CAMBIAR DESDE ACA -->
    <body>
      <div class="container">
  
        <div class="row">
          <br>
          <%console.log(JSON.parse(DatosCookie))%>

          <%let array= JSON.parse(DatosCookie) %>
          <%let array2 = array.map(i=>Number(i)) %>
          <%    products.filter(function (el) {                      %>
          <%    return array2.includes(el.id);             %>
          <%    }).map(function(el) {             %>                           %>
  
            <%// console.log(CookieBorrada)%>
          <br>
          <div class="col-sm-12 col-md-12 col-lg-12">
    
            <br>
            <div class="col-sm-8 col-md-8">
  
              <img src="/images/photos/<%= el.image %>" style='height: 250px; width: 250px;' alt=""><br> <br>
              <b>Descripcíon:</b> <%=  el.description %> 
              <br>
              <br>
              <b>Precio: $</b> <%=  el.price%> <br>
              
              <br>
              <form id= 'compras' action="/products/incendios" method="POST" >
                <div class="input-group">
                  <select class="form-control input-sm selectpicker show-menu-arrow" id="meses" name="meses"
                    title="Cantidad de Meses" data-fv-field="meses" tabindex="0">
                    <option value="1">1 Mes</option>
                    <option value="3">3 Meses</option>
                    <option value="6">6 Meses</option>
                    <option value="12">12 Meses</option>
                  </select>
                </div>
                <br>
                <button name="item" value="<%=  el.id %>" type="submit">Comprar</button>
              </form>
              <form action="/products/carrito" method="POST">
                <button name="borrado" value="<%=  el.id %>">Borrar producto</button>
              </form>
              <br>
    
              <br>
            </div>
          </div>
    
          <% }).sort(); %>
    
        </div>
      </div>
      
    </div>
  </body>

  <% - include('../partials/footer.ejs') %>